<nav-app></nav-app>

<div id="contact">
    <div class="form">
        <div class="img">
            <img src="../../../assets/images/banner2.jpg" alt="">
        </div>
        <form class="questions">
            <h3>Contact us</h3>
            <input type="text" placeholder="Enter your name">
            <input type="email" placeholder="Enter your email">
            <textarea rows="6" placeholder="What is your message"></textarea>
            <button type="submit" class="btn">ENVIAR</button>
        </form>
    </div>
</div>

<footer-app></footer-app>