<nav>
    <h1>Ecommerce</h1>
    <i data-feather="shopping-bag"></i>
</nav>

<div id="shop">
    <h2>Shop Products</h2>
</div>

<div id="items">
    <div class="card" *ngFor="let product of products">
        <div class="img">
            <img src="{{ product.image }}">
        </div>
        <div class="info">
            <h3>{{ product.title }}</h3>
            <div class="buy">
                <span>{{ product.price }}</span>
                <button>Buy</button>
            </div>
        </div>
        <div class="des">{{ product.description }}</div>
    </div>
</div>

<footer-app></footer-app>