<div class="col-12 p-3">
    <h1>Task By Juan David Segura</h1>

    <ul>
        <li>
            <a class="nav-link active" aria-current="page" routerLink="/api/exercise/1/users">task 1 Api Users</a>
        </li>
        <li>
            <a class="nav-link active" aria-current="page" routerLink="/api/exercise/2/products">task 2 Api Products</a>
        </li>
        <li>
            <a class="nav-link active" aria-current="page" routerLink="#">task 3 Api Page</a>
        </li>
    </ul>
</div>