<nav-app></nav-app>

<div class="banner">
    <div class="img">
        <img src="../../../assets/images/cocktail.png" alt="">
    </div>
    <div class="about">
        <h2>A COCKTAIL?</h2>
        <p>Embark on a journey of seductive flavors! Discover our captivating collection of cocktails, where liquid magic comes to life. Welcome to a paradise of taste sensations!</p>
        <a routerLink="/api/exercise/3/cocktails/products" class="btn-more">know the best</a>
    </div>
</div>




<!-- <img src="../../../assets/images/banner2.jpg" alt="">
<img src="../../../assets/images/banner1.jpg" alt="">  -->
<footer-app></footer-app>